body {
  font-family: sans-serif;
  background-color: #f0f4f8;
  text-align: center;
}

.container {
  background: white;
  width: 300px;
  margin: 30px auto;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px #ccc;
}

input, select, button {
  width: 90%;
  padding: 8px;
  margin: 10px 0;
}

ul {
  text-align: left;
  padding: 0;
}

li {
  margin: 5px 0;
}
